<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LunchBox</title>
  </head>
  <body>
    <h1>Oops! The page has encountered an error.</h1>

    <hr />

    <h2><%= status %> - <%= message %></h2>
    <pre><%= error.stack ? error.stack : '' %></pre>
  </body>
</html>
